.Head {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: .9rem;
}
.Head div:nth-child(1) {
    margin-top: 10vh;
    margin-bottom: 3vh;
    padding: 0 12px;
    text-align: center;
    border: 2px black solid;
}

.Head div:nth-child(1) p{
    letter-spacing: .4rem;
    margin-bottom: .2rem;
    font-size: .9rem;
}

.Head div:nth-child(1) h1{
    margin-top: .2rem;
}

.Head .btns {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Head .btns .btn {
    text-align: center;
    max-width: 150px;
    font-size: .95rem;
}

.Head .btns .btn:nth-child(1){
    flex-grow: 10;
}

.Head .btns .btn:nth-child(2){
    flex-grow: 0;
    border-left: 1px rgb(200,200,200) solid;
    border-right: 1px rgb(200,200,200) solid;
}

.Head .btns .btn:nth-child(3){
    flex-grow: 10;
}