#glr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 20px;
}

#glr .container {
    max-width: 350px;
    margin: 0 10px;
}

.container img {
    width: 100%;
    margin: 10px 0;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}